{
    "Connection" :
    {
        "Ip" : "88.212.241.115",
        "Port" : 2012
    },
    "TcpController" :
    {
        "ValueSize" : 2018
    },
    "Logging": {
        "LogLevel": {
            "Default": "Trace",
            "Microsoft": "Information"
        }
    },
    "AllowedHosts": "*"
}